In [8]:
#https://medium.com/@stella96joshua/how-to-combine-multiple-csv-files-using-python-for-your-analysis-a88017c6ff9e

import os
import glob
import pandas as pd

In [9]:
#list all csv files only
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['rawHFA1.csv', 'rawHFA2.csv', 'rawHFA3.csv', 'rawHFA4.csv', 'rawHFA5.csv']

In [10]:
wanted_columns = ["DATE","COUNTRY","YEAR","HFA"]
df_concat = pd.concat([pd.read_csv(f)[wanted_columns] for f in csv_files ], ignore_index=True)
df_concat

           DATE COUNTRY  YEAR    HFA
0    2021-07-22     ENG  2021   21.2
1    2022-07-22     ENG  2022   43.7
2    2021-07-22     GER  2021   49.9
3    2022-07-22     GER  2022   46.8
4    2021-07-22     ESP  2021   54.5
..          ...     ...   ...    ...
115  2000-07-22     ITA  2000  117.8
116  2001-07-22     ITA  2001   92.5
117  2002-07-22     ITA  2002   85.9
118  2003-07-22     ITA  2003   98.1
119  2004-07-22     ITA  2004   92.6

[120 rows x 4 columns]

In [11]:
# get info on data
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     120 non-null    object
 1   COUNTRY  120 non-null    object
 2   YEAR     120 non-null    int64
 3   HFA      120 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.9+ KB

In [12]:
df_concat["DATE"] = pd.to_datetime(df_concat["DATE"], format='')
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     120 non-null    datetime64[ns]
 1   COUNTRY  120 non-null    object
 2   YEAR     120 non-null    int64
 3   HFA      120 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 3.9+ KB

In [13]:
df = df_concat.sort_values(['COUNTRY','DATE'],ascending=True)
df

         DATE COUNTRY  YEAR   HFA
72 1993-07-22     ENG  1993  95.3
73 1994-07-22     ENG  1994  75.4
74 1995-07-22     ENG  1995  91.6
75 1996-07-22     ENG  1996  76.0
76 1997-07-22     ENG  1997  83.5
..        ...     ...   ...   ...
37 2018-07-22     ITA  2018  59.1
38 2019-07-22     ITA  2019  72.5
39 2020-07-22     ITA  2020  52.8
6  2021-07-22     ITA  2021  42.8
7  2022-07-22     ITA  2022  41.1

[120 rows x 4 columns]

In [14]:
print(df)
df.to_csv(f"{os.getcwd()}\\HFA_ENG_ESP_GER_ITA_1993_to_2022.csv")
#successfully compiled all files

         DATE COUNTRY  YEAR   HFA
72 1993-07-22     ENG  1993  95.3
73 1994-07-22     ENG  1994  75.4
74 1995-07-22     ENG  1995  91.6
75 1996-07-22     ENG  1996  76.0
76 1997-07-22     ENG  1997  83.5
..        ...     ...   ...   ...
37 2018-07-22     ITA  2018  59.1
38 2019-07-22     ITA  2019  72.5
39 2020-07-22     ITA  2020  52.8
6  2021-07-22     ITA  2021  42.8
7  2022-07-22     ITA  2022  41.1

[120 rows x 4 columns]

Split the files into separate leagues

In [14]:

import pandas as pd

df = pd.read_csv("HFA_ENG_ESP_GER_ITA_1993_to_2022.csv")
df= df.drop(df.columns[0],axis=1)
print(df)
# dict = {country : pd.DataFrame()["DATE","COUNTRY","YEAR","HFA"] for country in ['ENG','ESP','GER','ITA']}

for country in ['ENG', 'ESP', 'GER', 'ITA']:

    df2 = df[:][df.COUNTRY == country]
    print(df2)
    # print(df_save.info())
    df2.to_csv(f'..\\{country}.csv',index=False)